body{
  background:#f4f4f4;
}

#tooltip-container {
  position: fixed;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
  z-index: 999;
}
#tooltip-container .title {
  margin-right: 0.2em;
}

/*extended menu*/
.extendedMenu input {
  display: none;
}
.extendedMenu li a {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.extendedMenu .inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.extendedMenu .menuInputLabel {
  margin: 0 0.3em;
  padding: 0.2em;
  border: 1px solid #9c9c9c;
  border-radius: 30%;

  cursor: pointer;
}

.extendedMenu input:checked + .menuInputLabel {
  background: #525252;
}

.extendedMenu li a.selected {
  background: #171717 !important;
}

/* legend  */
#mapLegend {
  position: relative;
}
#mapLegend .stepLegendContainer {
  position: absolute;
  /*right: 0;*/
  width: 100px;
}
#mapLegend .color{
  text-align: center;
}

/*  pyramid svg */
#pyramidSvgCont {
  position: relative;
}
#pyramidSvgCont svg {
  position: absolute;
  right: 0px;
  height: 500px;
  width: 160px;
}
/* svg#Ireland {
  width: 500px;
  height:300px;
} */

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}

ul#nav li{
  list-style: none;
}

ul#nav li a{
  color: #FFFFFF;
  background-color: #333333;
  display: block;
  padding:  10px;
  font-size: 0.8em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul#nav li a:hover{
  background-color: #030303;
  padding-left:30px;
}

/* 
#nav ul {
  background: #ddd;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  top: 35px;
  width: 100%;
}
#nav li:hover ul {
  height: 200px;
  opacity: 1;
  transform: translateY(0);
}

#nav ul a {
  color: #000;
  display: block;
  padding: 5px 20px;
} */

/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}
